<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-2 mb-5 bg-white rounded" style="-webkit-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px -4px 5px 0px rgba(0,0,0,0.75);">
    <img class="ml-3"
        src="https://cdn.itviec.com/employers/gia-su-toeic/logo/social/SXE7kDHnFC5euHMk7ttScbSY/gia-s-toeic-logo.png"
        class="navbar-brand" style="width: 80px; height: 80px; border-radius: 50%" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: sans-serif">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-3">
                <a class="nav-link h5" href="#">Trang chủ</a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link h5" href="/exam">Thi thử</a>
            </li>
            <li class="nav-item ml-3 my-auto">
                <a class="nav-link h5" href="/tests">Giải đề</a>
            </li>
            <li class="nav-item ml-3 my-auto">
                <a class="nav-link h5" href="/admin/tests">Quản lý đề</a>
            </li>
        </ul>
        <img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/10_avatar-512.png" class="mr-2"
            style="width: 65px; height: 65px;" />
        <span class="h5 text-muted mr-4 my-auto">Admin</span>
    </div>
</nav>

